/*header*/
body{background: #F6F6F6;font: 14px/1.5 "微软雅黑","宋体","Arial Narrow",HELVETICA;}
.header{height: 35px;padding: 22px 0;background: #F6F6F6;}
	.header a{display: block;width: 315px;margin: 0 auto;}
	
/*register*/
.register{height: 505px;padding: 36px 0;margin-bottom: 10px;background: #fff;}
	/*左边表单部分*/
	.reg_l{width: 524px;float: left;}
		.regl_t{height: 29px;border-bottom: 1px solid #E5E5E5;margin-bottom: 40px;}
			.regl_t a{display: block;height: 29px;border: 1px solid #E5E5E5;border-bottom:none ;background:#fff url(../images/reg_phonebg.png) left center no-repeat;padding-left: 40px;width: 70px;color: black;margin-left: 100px;line-height: 29px;}
			
		.form_list{margin-left: 100px;height:75px ;}
			.form_list>p{height: 45px;width: 400px;}
			.form_list input{height: 15px;border: 1px solid #B1ADAA;width: 370px;padding: 14px;outline: none;}
				#imgCode,#phoneCode{width: 228px;float: left;margin-right: 20px;}
				#code{width:60px;height:25px;float: left;margin-top: 10px;margin-right: 10px;}/*图片验证码*/
				#change{float: left;font-size: 12px;margin-top: 12px;}/*换验证码按钮*/
				#getCode{float: left;height: 43px;width:120px;border: 1px solid #0700C5;color: #0700C5;line-height: 43px;text-align: center;}/*获取手机验证码按钮*/
			/*提示文字*/
			.tip{height: 30px;line-height: 30px;font-size: 12px;color: #130ECC;background: url(../images/tip_bg.jpg) no-repeat left center; padding-left: 20px;display: none;}
			/*密码强度*/
			#level{height: 15px;width:225px;margin:0 auto;text-align: center;padding-left: 60px;margin-bottom: 50px;}
				#level span{display:inline-block;margin-right:1px;width: 73px;text-align: center;background: #C31E25;color: white;opacity: 0.5;filter: alpha(opacity=50);font-size: 12px;display: none;}
			/*协议*/
			.form_list.xieyi{height: 35px;}
			.form_list b{float: left;margin-top: 5px;}
				#check{width: 12px;height: 12px;}	
				.form_list b a{color: #0700C5;}
			.tip.right{float: left;}
			/*注册按钮*/
			#btn{width: 400px;height: 36px;display:block;line-height: 36px;font-size: 18px;color: #fff;text-align: center;background: #E5E5E5;margin-left: 100px;}
			#btn.active{background: #0700C5;}
	/*右边表单部分*/
	.reg_r{width: 370px;float: right;border-left:1px solid #E7E7E7 ;margin-top: 65px;}
		/*上部分*/
		.regr_t{width: 300px;border-bottom: 1px dotted #D0D0D0;margin-left: 33px;margin-bottom: 30px;}
			.regr_t span{display: block;margin-left: 27px;width: 100px;}
			.regr_t a{display: block;font-size: 18px;color: #0700C5;text-align: center;height: 70px;width:75px;line-height: 70px;background: url(../images/go_login.png) right center no-repeat;padding-right: 25px;margin-left: 115px;}
		/*下部分*/
		.reg_r b{display: block;margin-left: 60px;margin-bottom: 30px;}
		.reg_r p{width: 250px;margin-left: 50px;height: 50px;margin-bottom: 50px;}
			.reg_r p a{display: inline-block; margin-right: 25px;}
		.reg_r dl{margin-left: 120px;}
/*footer*/
.footer{background: #fff;font-size: 12px;}
	
.footer_b ul{padding-left: 235px;}